@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PowerShell API</h1>
    <p class="lead">Angular / WebAPI interface for interacting with PowerShell</p>
    <p><a href="https://github.com/JaimeStill/PowerShellAPIFramework" target="_blank" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>
<query-wmi></query-wmi>